.banner-container, h5, .help-container, .faq-container, .help-container, details {
    font-family: var(--font-family);
    font-weight: 700;
}

summary::-webkit-details-marker { 
  display: none; 
}

/* color del fondo de la página: cámbialo si no es blanco */
:root { --page-bg: #ffffff; }


/* 4 PASOS PARA ENCONTRAR TU MASCOTA */
.step-item{
    width: 410px;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px 30px 20px 44px;   /* dejamos espacio para el corte y el círculo */
    background-color: #FFD54F;
    border-radius: 8px;
}

/* triangulito hundido (corte) */
.step-item::before{
    content: "";
    position: absolute;
    left: 0;
    transform: rotateY(180deg);
    width: 0;
    height: 100%;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 35px solid var(--page-bg); /* COLOR DEL FONDO */
}

/* HELP */
.help-container h3 {
    color: var(--primary-text-color);
}
.help-container p {
    color: var(--subtitulo-color);
}